numpy<2
shapely
opencv-python
imageio
geopandas
requests
matplotlib
flask
flask_cors
imageio
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.0+cpu
torchvision==0.14.0+cpu
--find-links https://download.openmmlab.com/mmcv/dist/cpu/torch1.13/index.html
mmcv==2.0.0rc4
ftfy
mmsegmentation==1.2.2